body {
  overflow: hidden;
}

#shoeshine-overlay {
  opacity:    0.95;
  background: #000;
  width:      100%;
  height:     100%;
  z-index:    10;
  top:        0;
  left:       0;
  position:   fixed;
}

#shoeshine-slideshow {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.shoeshine-slide {
  position: relative;
  display: flex;
  flex-flow: column;
  height: 100vh;
  align-items: center;
  width: 100vw;
  font-size: 38px;
}

#shoeshine-main p {
  height: 50%;
  display: flex;
  align-items: center;
  font-weight: bold;
  line-height: 100%;
  color: #FFF;
}

#shoeshine-main input {
  height: 1.3em;
}

.shoeshine-active {
  display: flex;
}

.shoeshine-slide:not(.shoeshine-active) {
  display: none;
}
