body.shoeshine-stop {
  overflow: hidden;
}

#shoeshine-overlay {
  opacity:    0.95;
  background: #000;
  width:      100%;
  height:     100%;
  z-index:    10;
  top:        0;
  left:       0;
  position:   fixed;
}

#shoeshine-main {
  color: #FFF;
}

#shoeshine-slideshow {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.shoeshine-slide {
  position: relative;
  display: flex;
  flex-flow: column;
  height: 100vh;
  align-items: center;
  width: 100vw;
  font-size: 38px;
}

#shoeshine-main p.title {
  height: 50%;
  display: flex;
  align-items: center;
  font-weight: bold;
  line-height: 100%;
}

#shoeshine-main p.error {
  font-size: 14px;
  color: red;
}

#shoeshine-main input {
  height: 1.3em;
}

.choice-table {
  display: flex;           display: -webkit-flex;
  flex-direction: row;     -webkit-flex-direction: row;
  flex-grow: 0;            -webkit-flex-grow: 0;
  flex-wrap: wrap;         -webkit-flex-wrap: wrap;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.choice-table .choice-cell {
  width: 33.3%;
  text-align: center;
}

.choice-button {
  min-width: 30%;
  max-width: 90%;
  margin: 0 auto;
  background: #4E9CAF;
  padding: 10px;
  border-radius: 5px;
  line-height: 100%;
}

.choice-cell a, .choice-cell a:hover {
  text-decoration: none;
  color: inherit;
}

.shoeshine-active {
  display: flex;
}

.shoeshine-slide:not(.shoeshine-active) {
  display: none;
}
